@import 'colors';

.primary_button {
    font: normal normal normal 30px/39px Roboto;
    letter-spacing: 0px;
    color: $base_color;
    opacity: 1;
    border: 1px solid $grey;
    border-radius: 8px;
    width: 188px;
    height: 53px;
    margin-top: 5px;
    font-weight: 400;
    cursor:pointer;
}

.card {
    background-color: $card-bg;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    border-radius: 20px;
    .card_title {
        margin-top: 45px;
        margin-bottom: 45px;
        display:flex;
        justify-content: center;
        font-size: 30px;
        letter-spacing: 0px;
        color: $base-color;
        opacity: 1;
        font-weight: 500;
    }
    .card_body {
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}

.lg {
    width: 1060px;
    height: 40vw;
    border-radius: 21px;
}

.md {
    height: 442px;
width: 651px;
}


