@import 'colors';

.primary_button {
    font: normal normal normal 30px/39px Roboto;
    letter-spacing: 0px;
    color: $base_color;
    opacity: 1;
    border: 1px solid $grey;
    border-radius: 8px;
    width: 188px;
    height: 53px;
    margin-top: 5px;
    font-weight: 400;
    cursor: pointer;
}

.card {
    background-color: $card-bg;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    border-radius: 20px;

    .card_title {
        margin-top: 45px;
        margin-bottom: 45px;
        display: flex;
        justify-content: center;
        font-size: 30px;
        letter-spacing: 0px;
        color: $base-color;
        opacity: 1;
        font-weight: 500;
    }

    .card_body {
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow: hidden;
    }
}

.template_card {
    top: 8% !important;
    left: 50% !important;
    transform: translate3d(-50%, 0%, 0) !important;
    position: relative !important;
    height: auto !important;
}

.lg {
    width: 1060px;
    height: 40vw;
    border-radius: 21px;

    @media (max-width: 1024px) {
        width: 650px;
        height: fit-content;
        padding: 10px;
    }

    @media (min-width: 1024px) {
        height: auto;
        width: 850px;
        padding: 15px;
        top: 60% !important;
    }
}

.md {
    height: 442px;
    width: 651px;
}

.account {
    width: 590px;
    height: 340px;
}

.map-container {
    height: 600px;
}