@import 'colors';
@import 'layout';
@import 'create-page';
@import 'common';
@import 'edit-page';
@import 'typography';
@import 'rheostat';
@import 'analyse-page';
@import 'account-page';

body {
    font-family: Roboto, sans-serif;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}